---
- name: FIREWALLD - Start Service
  systemd:
    name: firewalld
    state: started
    enabled: yes

- name: ANSIBLE - Create facts.d dir
  file:
    path: /etc/ansible/facts.d
    state: directory

- name: FIREWALLD - Copy Service Definition & Facts
  copy:
    src: '{{ item.src }}'
    dest: '{{ item.dest }}'
    mode: '{{ item.mode }}'
  with_items:
    - { src: firewalld-services/, dest: /etc/firewalld/services/, mode: '0644' }
    - { src: facts.d/, dest: /etc/ansible/facts.d/, mode: '0755' }

- name: FIREWALLD - Re-run setup to use custom facts
  setup: ~

- name: FIREWALLD - Template Config File
  template:
    src: firewalld.conf.j2
    dest: /etc/firewalld/firewalld.conf
    owner: root
    group: root
  register: firewalld_config_file

- name: FIREWALLD - Direct - Configure icmp timestamp-reply & timestamp-request
  template:
    src: direct.xml.j2
    dest: /etc/firewalld/direct.xml
    owner: root
    group: root
  register: firewalld_direct_file
  when: disable_timestamp_request_reply

- name: FIREWALLD - Service - Restart
  systemd:
    name: firewalld
    state: restarted
  when: firewalld_config_file.changed or firewalld_direct_file.changed