---
- name: FIREWALLD - Generate Rule Lists
  set_fact:
    remove_zones: "{{ ansible_facts.ansible_local.firewalld.keys() | difference(zone_list + default_zones) }}"
    add_zones: "{{ zone_list | unique }}"

- name: FIREWALLD - Zone AUS
  ansible.builtin.pause:
    prompt: "The following Zones are going to be Removed:\n{{ remove_zones }}"
  when: skip_prompts == False

- name: FIREWALLD - Zone - Delete
  firewalld:
    zone: "{{ item }}"
    state: absent
    permanent: true
  notify:
    - Reload FirewallD
  with_items: "{{ remove_zones }}"
  register: firewalld_zone_delete

- name: FIREWALLD - Service - Restart
  systemd:
    name: firewalld
    state: restarted
  when: firewalld_zone_delete.changed

- name: FIREWALLD - Zone AUS
  ansible.builtin.pause:
    prompt: "The following Zones are going to be Created:\n{{ add_zones }}"
  when: skip_prompts == False

- name: FIREWALLD - Zone - Create
  firewalld:
    zone: "{{ item }}"
    state: present
    permanent: true
  notify:
    - Reload FirewallD
  with_items: "{{ add_zones }}"

- name: FIREWALLD - Zone - Set Target
  firewalld:
    zone: "{{ item.zone }}"
    state: present
    target: "{{ item.target | default('default') }}"
    permanent: true
  notify:
    - Reload FirewallD
  when: item.name in lookup('ansible.builtin.vars', inventory_var)
  with_items: "{{ zone_conf }}"
  loop_control:
    label: "> <Zone Template={{ item.name }}> <Zone={{ item.zone }}> <Target={{ item.target | default('default') }}>"

- name: "FIREWALLD - Re-run setup to use custom facts"
  setup: ~